# ID1 mask ="00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"  # Organizational identifier as 16-byte UUID value
AD_Data_ID1="00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"

# ID2 mask ="00 00"				# Beacon Group as 2-byte value
AD_Data_ID2="00 01"

# ID3 mask ="00 00"				# Beacon Unit as 2-byte value
AD_Data_ID3="00 01"

# Advertising Data Flags (not part of AltBeacon standard)
AD_Length_Flags="02"				# Length of Flags AD structure in bytes
AD_Type_Flags="01"				# Type of AD structure as Flags type
AD_Data_Flags="1a"				# Flags data LE General Discoverable

# AltBeacon Advertisement
AD_Length_Data="1b"				# Length of Data AD structure in bytes
AD_Type_Manufacturer_Specific_Data="ff"		# Type of AD structure as Manufacturer Specific Data
AD_Data_Company_Identifier="18 01"		# Company identifier (little endian).  Radius Networks ID used for example (0x0118).  Substitute your assigned manufacturer code, if available.
AD_Data_Proximity_Type="be ac"			# AltBeacon advertisement code.  Big endian representation of 0xBEAC
AD_Data_Reference_RSSI="c5"			# Signed 1-byte value representing the average received signal strength at 1m from the advertiser
AD_Data_Manufacturer_Reserved="01"		# Reserved for use by manufacturer to implement special features
